<!-- This .ejs file is meant to serve as a way to upload images
 to the database on mongodb atlas.

 These image will be added to the OtherMedia array of images corresponding
 to the restaurant of which the id is entered.
-->

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Restaurant Uploading</title>
</head>

<body>
	<h1>Upload Additional Images to Restuarant Document on mongoDB</h1>
	<hr />
	<div>
	<form action="/restaurantUpload/othermedia" method="POST" enctype="multipart/form-data">
		<div>
		<label for="image">Upload Image</label>
		<input type="file" id="image" name="image" value="" required />
		</div>
		<div>
			<label for="restaurantId">Resturant ID</label>
			<input
				type="text"
				id="restaurantId"
				placeholder="restaurantId"
				value=""
				name="restaurantId"
				required
			/>
		</div>
		<div>
		<button type="submit">Submit</button>
		</div>
	</form>
	</div>

	<hr />

</body>
</html>