<!-- this view is only for updated the streetview image of a restaurant that is already in the database-->

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Restaurant Uploading</title>
</head>

<body>
	<h1>Update Street View Image to Restuarant Document on mongoDB</h1>
	<hr />
	<div>
	<form action="/restaurantUpload/updateStreetView" method="POST" enctype="multipart/form-data">
		<div>
		<label for="image">Upload Image</label>
		<input type="file" id="image" name="image" value="" required />
		</div>
		<div>
			<label for="restaurantId">Resturant ID</label>
			<input
				type="text"
				id="restaurantId"
				placeholder="restaurantId"
				value=""
				name="restaurantId"
				required
			/>
		</div>
		<div>
		<button type="submit">Submit</button>
		</div>
	</form>
	</div>

	<hr />

</body>
</html>